:root {
  --inline-size: 100%;
  --max-inline-size: 20rem;
  --panel-max-block-size: none;
  --panel-block-margin-end-value: 24;
}

body {
  margin: 0;
}

h1 {
  margin-block-start: 2.5rem;
}

* {
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.wrapper {
  inline-size: var(--inline-size);
  max-inline-size: var(--max-inline-size);
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.specs {
  position: fixed;
  inline-size: 100%;
  inset-block-start: 0;
  font-size: 0.75rem;
  padding-block-start: 0.5rem;
  padding-block-end: 0.5rem;
  margin: 0;
  background-color: white;
  border-block-end: 1px solid gray;
}

input {
  inline-size: var(--inline-size);
  max-inline-size: var(--max-inline-size);
  block-size: 3rem;
  font-size: 1.25rem;
  padding-inline-start: 2rem;
  padding-inline-end: 1rem;
}

.panel {
  inline-size: var(--inline-size);
  max-inline-size: var(--max-inline-size);
  max-block-size: var(--panel-max-block-size);
  list-style: none outside;
  text-align: start;
  padding-inline-start: 0;
  border: 1px solid gray;
  border-radius: 4px;
  overflow-y: scroll;
  /*transition: max-block-size ease-out 300ms;*/
}

.panel__item {
  inline-size: var(--inline-size);
  padding: 0.5rem;
}
